fastapi
uvicorn==0.22.0
datetime
SQLAlchemy==2.0.13
python-dotenv==1.0.0
pydantic
pydantic[email]
python-jose==3.3.0
openai
gtts
python-multipart
psycopg[binary]
redis
pinecone
passlib
pydantic-settings
alembic
streamlit
transformers>=0.34.0
torch>=2.1.0
torchvision>=0.15.2    
torchaudio>=2.1.2    
diffusers>=0.22.0
accelerate>=0.20.3
huggingface-hub